.admin-topbar{
  height:88px;

  background:var(--bg-secondary);

  border-bottom:1px solid var(--border);

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 30px;
}

.topbar-search{
  width:500px;
  height:52px;

  display:flex;
  align-items:center;
  gap:12px;

  background:var(--card);

  border:1px solid var(--border);

  border-radius:16px;

  padding:0 18px;
}

.topbar-search svg{
  color:var(--primary);
}

.topbar-search input{
  flex:1;
  border:none;
  outline:none;
  background:none;
  color:var(--text);
}

.topbar-right{
  display:flex;
  align-items:center;
  gap:16px;
}

.topbar-btn{
  width:48px;
  height:48px;

  border:none;

  background:var(--card);

  border-radius:14px;

  color:var(--text);

  cursor:pointer;

  transition:.25s;
}

.topbar-btn:hover{
  transform:translateY(-2px);
}

.avatar{
  width:48px;
  height:48px;

  border-radius:50%;

  background:
    linear-gradient(
      135deg,
      #e2b57d,
      #a97449
    );

  display:flex;
  align-items:center;
  justify-content:center;

  color:white;
  font-weight:700;
}

.topbar-user{
  display:flex;
  align-items:center;
  gap:12px;
}